<div class="logo">
    <span class="simple-text">
        <div>
            <img src="/assets/img/logo.jpg" class="img-fluid"/>
        </div>
        Tâche Tableau 
      </span>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
